{% extends 'auth/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %} Solmetrica - Login {% endblock %}

{% block auth_body %}
<body id="body" class="auth-page" style="background-image: url('{% static 'assets/images/p-1.png' %}'); background-size: cover; background-position: center center;">
   <!-- Log In page -->
    <div class="container-md">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 mx-auto">
                            <div class="card">
                                <div class="card-body p-0 auth-header-box">
                                    <div class="text-center p-3">
                                        <a href="#" class="logo logo-admin">
                                            <img src="{% static 'assets/images/logo-sm.png' %}" height="50" alt="logo" class="auth-logo">
                                        </a>
                                        <h4 class="mt-3 mb-1 fw-semibold text-white font-18">Solmetrica</h4>
                                        <p class="text-muted  mb-0">Sign in to continue to Solmetrica</p>
                                    </div>
                                </div>
                                <div class="card-body pt-2">
                                    {% if form.non_field_errors %}
                                      <div class="alert alert-danger alert-dismissible fade show text-start pt-2 mb-0 pb-0" role="alert">
                                          {% for error in form.non_field_errors %}
                                            <p class="pb-2">{{ error }}</p>
                                          {% endfor %}
                                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                          </button>
                                      </div>
                                    {% endif %}


                                    <form method="post" class="my-4">
                                        {% csrf_token %}
                                        {% for field in form.visible_fields %}
                                            {% if field.label != "Password" %}
                                                <div class="form-group mb-2">
                                                    {{ field.errors }}
                                                    <label class="form-label" for="username">Phone number</label>
                                                    {{ field|add_class:'form-control'|attr:"placeholder:Enter phone number" }}
                                                </div><!--end form-group-->
                                            {% else %}
                                                <div class="form-group">
                                                    {{ field.errors }}
                                                    <label class="form-label" for="user-password">Password</label>
                                                    {{ field|add_class:'form-control'|attr:"placeholder:Enter phone number" }}
                                                </div><!--end form-group-->
                                            {% endif %}
                                        {% endfor %}

                                        <div class="form-group row mt-3">
                                            <div class="col-sm-6">
                                                <a href="#" class="text-muted font-13"><i class="dripicons-lock"></i> Forgot password?</a>
                                            </div><!--end col-->
                                        </div><!--end form-group-->

                                        <div class="form-group mb-0 row">
                                            <div class="col-12">
                                                <div class="d-grid mt-3">
                                                    <button class="btn btn-primary" type="submit">Log In <i class="fas fa-sign-in-alt ms-1"></i></button>
                                                </div>
                                            </div><!--end col-->
                                        </div> <!--end form-group-->
                                    </form><!--end form-->



                                    <div class="text-left text-muted">
                                        <p class="mb-0">Don't have an account ?  <a href="#" class="text-primary ms-2">Contact Support</a></p>
                                    </div>
                                    <hr class="hr-dashed mt-4">

                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- vendor js -->
</body>
{% endblock %}