{% load static %}

<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8" />
    <title>{% block title %} Solmetrica - Login {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
     <!-- App css -->
     <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />

</head>

{% block auth_body %}
{% endblock %}

<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
<!-- App js -->
<script src="{% static 'assets/js/app.js' %}"></script>
</html>